

* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fcoln {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paddingUndD{
    padding-top: 2em;
    padding-bottom: 1em;
}
.paddingLndR{
    padding-left: 5vw;
    padding-right: 5vw;
}
body {
    box-sizing: border-box;
    width: 100%;
    font-size: 100%;
}
a {text-decoration: none;}

.corperTxt {
    color: hsl(262, 52%, 11%, 1);
}
.lodge {
    color: hsl(21, 81%, 28%, 1);
}
nav {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    top: 0vh;
    left: 0%;
    padding-top: 3em;
    padding-bottom: 5em;
    padding-right: 6em;
    z-index: 1;
}
nav a{
    color: rgb(51, 47, 47);
    padding: 10px 15px;
    font-weight: 600;
    border-bottom: 1px solid rgb(238, 229, 229);
    border-radius: 5px;
}
.corpersec { 
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 2em;
    padding-top: 0.5em;
    
}
.mobile {display: flex;}

.introsec {
    background-image: url(./image/Rectangle\ 5.png);
    background-position: cover;
    background-repeat: no-repeat;
    padding: 10.5em 0em;
    position: relative;
}

.introsec div h2{
    word-wrap: normal;
    font-size: 2.7em;
    text-align: center;
    color: #ffffff;
    margin-top: -7vh;
}
.introsec div p{
    color: white;
    text-align: center;
    padding: 15px 5px;
    margin-top: 5vh;
}
.becker {
    display: none;
}
button{
    background-color: white;
    padding: 1em 1.5em;
    color: #190E2C;
    font-size: 1em;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 5vh;
    border: none;
}
.getStarted {
    margin-left: 8vw;
    margin-right: 10vw;}

.learnMore {
    background-color: #190E2C;
    color: white;
}
.luxuryApart{
    position: relative;
}
.imgYellow{
    position: relative;
    left: 16vw;
    z-index: -1;
}
.imgBlue{
    position: absolute;
    left: 70px;
    top: 12px;
}
.imgWhite{
    position: absolute;
    left: 79px;
    top: 25px;
}

.description h2{
    color: #190E2C;
    font-size: 2.5em;
    text-align: center;
    margin-top: 10vh;
}
.description p{
    font-size: 1.3em;
    text-align: center;
    color: #333333;
    margin-top: 5vh;
}
.viewApartment{
    background-color: #190E2C;
    color: #f5efef;
    border: 2px solid #190E2C;
    font: 5px;
    padding: 15px 15px;
    margin-left: 25px;
}
.checkApartment{
    background-color: white;
    color: #190E2C;
    border: 2px solid #190E2C;
    font: 5px;
    padding: 15px 15px;
    margin-left: 10px;
}
.radisson{
    padding-top: 20px;
    padding-left: vw;
    box-shadow: 5px 5px rgb(243, 239, 239);
    border-radius: 10px;
}
.radisson img{
    width: 100%;
}
.radissontxt{
    padding-left: 5vw;
    color:#190E2C;
}
.text2{
    padding-left: 5vw;
    color: #FFA219;
}
.radissonbtn{
    background-color: #190E2C;
    color: white;
    font-size: 10px;
    padding: 10px 20px;
    margin: 10px;
}
#price{
    margin-top: -3vh;
    margin-bottom: 2vh;
}
.availability{
    background-color: #FFA219;
    color:white;
    margin-left: 5vw;
}
.seeBtn {
    background-color:#f59506;
    color: #ffffff;
}
.corpersLodge{
    font-size: 2em;
    text-align: center;
    padding: 4px;
}
.pLodge{
    font-size: 1.2em;
    text-align: center;
    color: #211533;
}
.cityImg{
    width: 100%;
    padding-top: 3vh;

}
@media screen and (min-width: 500px) {
    body{
        width: 100%;
        max-width: 100%;
    }
    h4 {
        font-size: 1.7em;
        padding-left: 1em;
        padding-top: 1.5;
    }
    nav {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: inherit;
        padding-top: 0;
        padding-bottom: 0em;
        padding-right: 3em;
        
    }
    nav a{
        color: rgb(51, 47, 47);
        padding-top: 1.5em;
        padding-right: 2em;
        font-size: 1.2em;
        font-weight: 500;
        border-bottom: none;
        border-radius: none;}

    #signUp {
        color: white;
        border: none solid red;
        background-color: hsla(262, 52%, 11%, 1);
        padding: 1em;
        margin-top: 9px;
    }
    .corpersec { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: hsla(18, 87%, 97%, 1);
        width: 100%;
        padding-left: 0em;
        padding-top: 0em;}

    .navshortcut {
        display: none;
    }
    .introsec {
        display: flex;
        flex-direction: row;
        width: 90%;
        background-image: none;
        background-position: cover;
        background-repeat: no-repeat;
        padding: 2em 0em;
        position: relative;
    }
    .introsec div h2{
        word-wrap: normal;
        font-size: 3.5em;
        text-align: center;
        color:#190E2C;
        margin-top: 0vh;
        padding-top: 1.5em;
        padding-right: 1em;
    }
    .introsec div p{
        color:#333333;
        font-size: 1em;
        text-align: left;
        font-weight: 100;
        padding: 1em 2.2em;
        margin-top: 0vh;
    }
    .becker{
        display: block;
    }
    .getStarted {
        background-color: #190E2C;
        color: white;
        border: 1px solid #190E2C;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-left: 3vw;
        margin-right: 1vw;}
    
    .learnMore {
        background-color: white;
        color:#190E2C;
        padding-left: 2vw;
        padding-right: 2vw;
        border: 1px solid #190E2C;
    }
    .luxuryApart{
        display: flex;
        flex-direction: row;
        background-color: hsla(21, 81%, 96%, 1);
    }
    .imgYellow{
        position: relative;
        top: 3vh;
        left: 10vw;
        z-index: 1;
    }
    .imgBlue{
        position: absolute;
        left: 15vw;
        top: 6vh;
        z-index: 1;
    }
    .imgWhite{
        position: absolute;
        left: 20.6vw;
        top: 7vh;
        z-index: 1;
    }
    .description {
        width: 55%;
        padding-left: 25vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .description h2{
        color: #190E2C;
        font-size: 2.5em;
        text-align:justify;
        margin-top: 5vh;
    }
    .description p{
        font-size: 1.3em;
        text-align: justify;
        color: #333333;
        margin-top: 3vh;
        padding-left: 0;
    }
    .viewApartment{
        background-color: #190E2C;
        color: #f5efef;
        border: 1px solid #190E2C;
        font: 5px;
        padding: 15px 15px;
        margin-left: 0px;
    }
    .checkApartment{
        background-color: white;
        color: #190E2C;
        border: 1px solid #190E2C;
        font: 5px;
        padding: 15px 15px;
        margin-left: 10px;
    }
}